
/*----------------
[1. Styles for devices(>1200px)]
*/
@media (min-width: 1201px) {
}
/*----------------
[2. Styles for devices(>=993px and <=1200px)]
*/
@media (min-width: 993px) and (max-width: 1200px) {
.nav-menu .nav > li > a {
	padding: 15px 15px;
}
.main-header .header-search-box {
	padding-left: 0;
	width: 50%;
}
.main-header .shopping-cart-box {
	float: right;
	width: 25%;
}
.box-vertical-megamenus .vertical-menu-content {
	display: none;
}
.home .box-vertical-megamenus .vertical-menu-content {
	display: none;
}
/** MAIN MENU **/
#main-menu .navbar .navbar-nav>li>a {
	padding: 0 10px;
}
}
/*--------------------
[3. Styles for devices(>=768px and <=992px)]
*/
@media (min-width: 768px) and (max-width: 992px) {
.home .box-vertical-megamenus .vertical-menu-content {
	display: none;
}
.vertical-megamenus-ontop .box-vertical-megamenus .vertical-menu-content {
	display: block;
}
.top-header a {
	border-right: 1px solid #E0E0E0;
	padding-right: 5px;
	margin-left: 5px;
}
.main-header .logo {
	width: 100%;
	text-align: center;
}
.main-header .header-search-box {
	padding-left: 30px;
	padding-right: 15px;
}
.main-header .shopping-cart-box {
	margin-left: 0;
	width: 37.667%;
}
.box-vertical-megamenus {
	padding-bottom: 0;
}
.box-vertical-megamenus .vertical-menu-content {
	min-width: 270px;
	display: none;
}
.nav-menu .nav > li > a {
	padding: 15px 5px;
}
/** MAIN MENU **/
#main-menu .navbar .navbar-nav>li>a {
	padding: 0 5px;
}
}
/*--------------------
[4. Styles for devices(>=481px and <=767px)]
*/
@media (min-width: 481px) and (max-width: 767px) {
.home .box-vertical-megamenus .vertical-menu-content {
	display: none;
}
.category-featured>.nav-menu>.container {
	padding-left: 0;
}
.top-banner {
	display: none;
}
.top-header .nav-top-links,  .top-header .user-info,  .top-header .support-link {
	width: 100%;
	float: left;
}
.main-header .logo {
	text-align: center;
}
.main-header .header-search-box {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.main-header .header-search-box .form-inline .form-category {
	display: none;
}
.main-header .header-search-box .form-inline .input-serach {
	width: calc(100% - 50px);
	padding-top: 10px;
}
.main-header .shopping-cart-box {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 0;
	width: 100%;
}
#box-vertical-megamenus {
	width: 50%;
	height: 50px;
	float: left;
}
#box-vertical-megamenus .box-vertical-megamenus {
	right: 0px;
	padding-bottom: 0;
}
.box-vertical-megamenus {
}
.box-vertical-megamenus .vertical-menu-content {
	border-right: 1px solid #eee;
	display: none;
}
.box-vertical-megamenus .vertical-menu-content ul li:hover .vertical-dropdown-menu {
	visibility: hidden;
	display: none;
}
.box-vertical-megamenus .vertical-menu-content ul li a.parent:before {
	display: none;
}
.popular-tabs .nav-tab li {
	padding: 0;
}
.nav-menu .navbar-brand,  .nav-menu .toggle-menu {
	display: block;
}
.nav-menu .navbar-collapse {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 50px;
	margin-right: 0;
	margin-left: 0;
	padding: 0 15px;
}
.nav-menu .navbar-collapse {
	margin-top: 0;
}
.nav-menu .nav>li>a {
	padding: 5px 15px;
}
.nav-menu .navbar-brand {
	padding-left: 30px;
}
.popular-tabs .nav-tab li {
	width: 100%;
	float: left;
}
{
 min-height: 480px;
}
/** MAIN MENU **/
#main-menu .navbar-header {
	display: block;
	margin: 0;
	background: #ff3366;
	color: #fff;
	margin-left: 15px;
}
#main-menu .navbar-header .navbar-brand {
	padding: 0;
	padding-left: 10px;
	line-height: 50px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
#main-menu .navbar-header .fa {
	line-height: inherit;
	color: #fff;
	font-size: 17px;
}
#main-menu .navbar-header .navbar-toggle {
	border: none;
	padding: 0;
	margin-top: 12px;
}
#main-menu .navbar-default .navbar-toggle:focus,  #main-menu .navbar-default .navbar-toggle:hover {
	background: none;
}
#main-menu .navbar-collapse {
	padding: 0 15px;
	margin-left: 15px;
	margin-right: 0px;
	background: #eee;
}
#main-menu .container-fluid {
	padding-right: 15px;
	padding-left: 15px;
}
#main-menu .navbar-collapse.in {
	overflow-y: inherit;
}
#main-menu .navbar .navbar-nav>li {
	border-bottom: 1px solid #cacaca;
}
#main-menu .navbar .navbar-nav>li:hover,  #main-menu .navbar .navbar-nav>li.active {
	background: none;
}
#main-menu .navbar .navbar-nav>li>a {
	margin: 0;
	padding: 10px;
	border-right: none;
	position: relative;
}
#main-menu .navbar .navbar-nav>li:hover>a,  #main-menu .navbar .navbar-nav>li.active>a {
	color: #333;
	border-right: 1px solid transparent;
}
#main-menu .dropdown-menu {
	position: inherit;
	opacity: 1;
	visibility: inherit;
	display: none;
}
#main-menu li.dropdown>a:after {
	position: absolute;
	top: 9px;
	right: 10px;
}
#main-menu .dropdown.open >.dropdown-menu {
	display: block;
}
#main-menu li.dropdown:before {
	display: none;
}
#main-menu li.dropdown:hover:before {
	display: none;
}
#main-menu .navbar-nav > li> .mega_dropdown {
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	width: 100%!important;
	left: 0!important;
	top: 0;
	padding: 15px 0;
	border: 1px solid #eee;
}
#main-menu .dropdown-menu {
	border: 1px solid #eee;
}
#main-menu .dropdown-menu.container-fluid {
	padding: 15px;
	border: 1px solid #eee;
}
}
/*--------------------
[5. Styles for devices(<=480px)]
*/
@media (max-width: 480px) {
.top-banner {
	display: none;
}
.top-header .nav-top-links,  .top-header .user-info,  .top-header .support-link {
	width: 100%;
	float: left;
}
.main-header .logo {
	text-align: center;
	margin-top: 10px;
}
.main-header .header-search-box {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 30px;
}
.main-header .header-search-box .form-inline .form-category {
	display: none;
}
.main-header .header-search-box .form-inline .input-serach {
	width: calc(100% - 50px);
	padding-top: 10px;
}
.main-header .shopping-cart-box {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 0;
	width: 100%;
	margin-top: 30px;
}
.nav-top-menu {
	background: transparent;
}
#box-vertical-megamenus {
	width: 50%;
	height: 50px;
	float: left;
}
#box-vertical-megamenus .box-vertical-megamenus {
	right: 0px;
	padding-bottom: 0;
}
.box-vertical-megamenus .vertical-menu-content {
	border-right: 1px solid #eee;
	display: none;
}
.box-vertical-megamenus .title {
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
}
#box-vertical-megamenus .vertical-menu-content {
	min-width: 290px;
	display: none;
}
.box-vertical-megamenus .vertical-menu-content ul li:hover .vertical-dropdown-menu {
	visibility: hidden;
	display: none;
}
.box-vertical-megamenus .vertical-menu-content ul li a.parent:before {
	display: none;
}
.popular-tabs .nav-tab li {
	padding: 0;
}
.nav-menu .navbar-brand,  .nav-menu .toggle-menu {
	display: block;
}
.nav-menu .navbar-collapse {
	position: absolute;
	right: 0px;
	top: 50px;
	margin-right: 0;
	margin-left: 0;
	padding: 0 15px;
	left: 0;
	right: 0;
}
.nav-menu .navbar-collapse>ul {
	margin-top: 0;
}
.nav-menu .navbar-brand {
	margin-left: -10px;
}
.popular-tabs .nav-tab li {
	width: 100%;
	float: left;
}
/** MAIN MENU **/
#main-menu .navbar-header {
	display: block;
	margin: 0;
	background: #ff3366;
	color: #fff;
	margin-left: 15px;
}
#main-menu .navbar-header .navbar-brand {
	padding: 0;
	padding-left: 10px;
	line-height: 50px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
#main-menu .navbar-header .fa {
	line-height: inherit;
	color: #fff;
	font-size: 17px;
}
#main-menu .navbar-header .navbar-toggle {
	border: none;
	padding: 0;
	margin-top: 12px;
}
#main-menu .navbar-default .navbar-toggle:focus,  #main-menu .navbar-default .navbar-toggle:hover {
	background: none;
}
#main-menu .navbar-collapse {
	padding: 0 15px;
	margin-left: 15px;
	margin-right: 0px;
	background: #eee;
}
#main-menu .container-fluid {
	padding-right: 15px;
	padding-left: 15px;
}
#main-menu .navbar-collapse.in {
	overflow-y: inherit;
}
#main-menu .navbar .navbar-nav>li {
	border-bottom: 1px solid #cacaca;
}
#main-menu .navbar .navbar-nav>li:hover,  #main-menu .navbar .navbar-nav>li.active {
	background: none;
}
#main-menu .navbar .navbar-nav>li>a {
	margin: 0;
	padding: 10px;
	border-right: none;
	position: relative;
}
#main-menu .navbar .navbar-nav>li:hover>a,  #main-menu .navbar .navbar-nav>li.active>a {
	color: #333;
	border-right: 1px solid transparent;
}
#main-menu .dropdown-menu {
	position: inherit;
	opacity: 1;
	visibility: inherit;
	display: none;
}
#main-menu li.dropdown>a:after {
	position: absolute;
	top: 9px;
	right: 10px;
}
#main-menu .dropdown.open >.dropdown-menu {
	display: block;
}
#main-menu li.dropdown:before {
	display: none;
}
#main-menu li.dropdown:hover:before {
	display: none;
}
#main-menu .navbar-nav > li> .mega_dropdown {
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	width: 100%!important;
	left: 0!important;
	top: 0;
	padding: 15px 0;
	border: 1px solid #eee;
}
#main-menu .dropdown-menu {
	border: 1px solid #eee;
}
#main-menu .dropdown-menu.container-fluid {
	padding: 15px;
	border: 1px solid #eee;
}
}
