 @import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
	margin: 0px;
	padding: 0px;
}
body {
	margin: auto;
	padding: 0px;
	background-image: url(../images/logo-img.png);
	background-image: no-repeat;
	font-family: 'Open Sans', sans-serif;
}
#header {
	width: 100%;
	margin: auto;
	float: left;
}
.logo {
	padding-top: 1em;
	float: left;
}
.register_button {
	float: right;
	padding-top: 3em;
}
.register_button a {
	text-decoration: none;
	border: 1px #0093dd solid;
	color: #28166f;
	font-family: 'Open Sans', sans-serif;
	padding: 7px 14px;
	font-size: 14px;
	border-radius: 3px;
	margin-left: 10px;
}
.form {
	margin: auto;
	width: 35%;
	margin-top: 3em;
	min-height: 585px;
}
.panel-body h2 {
	font-size: 20px;
	text-align: left;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	margin: 0px;
	padding: 0px;
}
.login_button {
	text-align: center;
	width: 23%;
	margin-top: -10px !important; 
	clear: left;
	float: left;
	font-size: 14px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	padding: 5px 25px;
	background: #28166f;
	border-radius: 3px;
	text-decoration: none;
	border: none;
	margin-left: 34%;
	
}
.signup_button {
	text-align: center;
	width: 23%;
	margin-top: 10px !important; 
	clear: left;
	float: left;
	font-size: 14px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	padding: 5px 25px;
	background: #28166f;
	border-radius: 3px;
	text-decoration: none;
	border: none;
	margin-left: 34%;
	
}
.login_button a {
	font-size: 14px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	padding: 5px 25px;
	background: #28166f;
	border-radius: 3px;
	text-decoration: none;
}
.text {
	width: 100%;
	margin-top: 1em;
	float: left;
}
.text p {
	font-size: 14px;
	color: #000;
	font-family: 'Open Sans', sans-serif;
}
.text a {
	font-size: 14px;
	color: #0093dd;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}
.text-1 {
	width: 100%;
	margin-top: 1em;
	float: left;
	text-align: center;
}
.text-1 p {
	font-size: 14px;
	color: #000;
	font-family: 'Open Sans', sans-serif;
}
.text-1 a {
	font-size: 14px;
	color: #0093dd;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}
.create_btn {
	float: right;
	margin-top: 3em;
}
.create_btn ul {
	margin: auto;
	padding: 0px;
	float: left;
}
.create_btn ul li {
	list-style-type: none;
	display: inline;
}
.create_btn ul li a {
	text-transform: capitalize;
	display: inline-block;
	padding: 3px 8px;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	color: #000;
	text-decoration: none;
}
.icon4 ul {
	width: 150px;
	margin: 0px 0 0 0;
	_margin: 0;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	height: auto;
	background: #f5f5f5;
	border: 1px #e8e8e8 solid;
	z-index: 99999;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.icon4 li:hover > ul {
	opacity: 1;
	visibility: visible;
	margin: 0;
}
.icon4 ul ul {
	margin: 0 0 0 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
.icon4 ul li {
	display: block;
	border: 0;
	border-bottom: 1px #e8e8e8 solid;
}
.active-icon {
	display: block;
}
.sub-icon2 ul li a {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	color: #000;
	line-height: 20px;
	padding: 5px;
}
.sub-icon2 ul li a:hover {
	color: #28166f;
	background: none;
	text-decoration: none;
}
nav {
	position: relative;
	/*width: 980px;*/
	margin: 2em auto;
}
#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #head-mobile {
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
#cssmenu:after, #cssmenu > ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}
#cssmenu #head-mobile {
	display: none
}
#cssmenu {
	font-family: 'Open Sans', sans-serif;
	float: right;
}
#cssmenu > ul > li {
	float: left
}
#cssmenu > ul > li > a {
	padding: 17px;
	font-size: 14px;
	text-decoration: none;
	color: #000;
	font-family: 'Open Sans', sans-serif;
}
#cssmenu > ul > li:hover > a, #cssmenu ul li.active a {
/*color: #fff;*/
}
#cssmenu > ul > li:hover, #cssmenu ul li.active:hover, #cssmenu ul li.active, #cssmenu ul li.has-sub.active:hover {
	/*background: #448D00!important;*/
	-webkit-transition: background .3s ease;
	-ms-transition: background .3s ease;
	transition: background .3s ease;
}
#cssmenu > ul > li.has-sub > a {
	padding-right: 30px
}
#cssmenu > ul > li.has-sub > a:after {
	position: absolute;
	top: 22px;
	right: 11px;
	width: 8px;
	height: 2px;
	display: block;
	background: #ddd;
	content: ''
}
#cssmenu > ul > li.has-sub > a:before {
	position: absolute;
	top: 19px;
	right: 14px;
	display: block;
	width: 2px;
	height: 8px;
	background: #ddd;
	content: '';
	-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease
}
#cssmenu > ul > li.has-sub:hover > a:before {
	top: 23px;
	height: 0
}
#cssmenu ul ul {
	position: absolute;
	left: -9999px
}
#cssmenu ul ul li {
	height: 0;
	-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;
	background: #333;
	transition: all .25s ease
}
#cssmenu ul ul li:hover {
}
#cssmenu li:hover > ul {
	left: auto
}
#cssmenu li:hover > ul > li {
	height: 35px
}
#cssmenu ul ul ul {
	margin-left: 100%;
	top: 0
}
#cssmenu ul ul li a {
	border-bottom: 1px solid rgba(150,150,150,0.15);
	padding: 11px 15px;
	width: 170px;
	font-size: 12px;
	text-decoration: none;
	color: #ddd;
	font-weight: 400;
}
#cssmenu ul ul li:last-child > a, #cssmenu ul ul li.last-item > a {
	border-bottom: 0
}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover {
	color: #fff
}
#cssmenu ul ul li.has-sub > a:after {
	position: absolute;
	top: 16px;
	right: 11px;
	width: 8px;
	height: 2px;
	display: block;
	background: #ddd;
	content: ''
}
#cssmenu ul ul li.has-sub > a:before {
	position: absolute;
	top: 13px;
	right: 14px;
	display: block;
	width: 2px;
	height: 8px;
	background: #ddd;
	content: '';
	-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease
}
#cssmenu ul ul > li.has-sub:hover > a:before {
	top: 17px;
	height: 0
}
#cssmenu ul ul li.has-sub:hover, #cssmenu ul li.has-sub ul li.has-sub ul li:hover {
	background: #363636;
}
#cssmenu ul ul ul li.active a {
	border-left: 1px solid #333
}
#cssmenu > ul > li.has-sub > ul > li.active > a, #cssmenu > ul ul > li.has-sub > ul > li.active> a {
	border-top: 1px solid #333
}
 @media screen and (max-width:700px) {
.logo {
	width: 56%;
	float: none;
}
nav {
	width: 100%;
}
#cssmenu {
	width: 100%;
}
#cssmenu ul {
	width: 100%;
	display: none;
	margin-top: 2em;
	background: #28166f;
}
#cssmenu ul li {
	width: 100%;/*border-top: 1px solid #444*/
}
#cssmenu ul li:hover {
	background: #363636;
}
#cssmenu ul ul li, #cssmenu li:hover > ul > li {
	height: auto
}
#cssmenu ul li a, #cssmenu ul ul li a {
	width: 100%;
	border-bottom: 0;
	color: #fff !important;
}
#cssmenu > ul > li {
	float: none
}
#cssmenu ul ul li a {
	padding-left: 25px
}
#cssmenu ul ul li {
	background: #fff!important;
}
#cssmenu ul ul li:hover {
	background: #363636!important
}
#cssmenu ul ul ul li a {
	padding-left: 35px
}
#cssmenu ul ul li a {
	color: #ddd;
	background: none
}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li.active > a {
	color: #fff;
}
#cssmenu ul ul, #cssmenu ul ul ul {
	position: relative;
	left: 0;
	width: 100%;
	margin: 0;
	text-align: left
}
#cssmenu > ul > li.has-sub > a:after, #cssmenu > ul > li.has-sub > a:before, #cssmenu ul ul > li.has-sub > a:after, #cssmenu ul ul > li.has-sub > a:before {
	display: none
}
#cssmenu #head-mobile {
	display: block;
	padding: 23px;
	color: #ddd;
	font-size: 12px;
	font-weight: 700
}
.button {
	width: 55px;
	height: 46px;
	position: absolute;
	right: 0;
	top: -80px;
	cursor: pointer;
	z-index: 12399994;
}
.button:after {
	position: absolute;
	top: 22px;
	right: 20px;
	display: block;
	height: 4px;
	width: 20px;
	border-top: 2px solid #dddddd;
	border-bottom: 2px solid #dddddd;
	content: ''
}
.button:before {
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	position: absolute;
	top: 16px;
	right: 20px;
	display: block;
	height: 2px;
	width: 20px;
	background: #ddd;
	content: ''
}
.button.menu-opened:after {
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	top: 23px;
	border: 0;
	height: 2px;
	width: 19px;
	background: #000;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg)
}
.button.menu-opened:before {
	top: 23px;
	background: #000;
	width: 19px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg)
}
#cssmenu .submenu-button {
	position: absolute;
	z-index: 99;
	right: 0;
	top: 0;
	display: block;
	border-left: 1px solid #444;
	height: 46px;
	width: 46px;
	cursor: pointer
}
#cssmenu .submenu-button.submenu-opened {
	background: #262626
}
#cssmenu ul ul .submenu-button {
	height: 34px;
	width: 34px
}
#cssmenu .submenu-button:after {
	position: absolute;
	top: 22px;
	right: 19px;
	width: 8px;
	height: 2px;
	display: block;
	background: #000;
	content: ''
}
#cssmenu ul ul .submenu-button:after {
	top: 15px;
	right: 13px
}
#cssmenu .submenu-button.submenu-opened:after {
	background: #000;
}
#cssmenu .submenu-button:before {
	position: absolute;
	top: 19px;
	right: 22px;
	display: block;
	width: 2px;
	height: 8px;
	background: #000;
	content: ''
}
#cssmenu ul ul .submenu-button:before {
	top: 12px;
	right: 16px
}
#cssmenu .submenu-button.submenu-opened:before {
	display: none
}
#cssmenu ul ul ul li.active a {
	border-left: none
}
#cssmenu > ul > li.has-sub > ul > li.active > a, #cssmenu > ul ul > li.has-sub > ul > li.active > a {
	border-top: none
}
}
 @media screen and (max-width: 768px) {

.form {
	margin: auto;
	width: 90%;
	margin-top: 2em;
	min-height: 485px;
}
.navbar-nav li a {
	border-bottom: 2px transparent solid;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #000;
}
#cssmenu > ul > li > a {
	padding: 12px;
	font-size: 14px;
	text-decoration: none;
	color: #000;
	margin-top: 0.8em;
	font-family: 'Open Sans', sans-serif;
}
.create_btn {
	float: right;
	margin-top: 0em;
	margin-right:15px;
}
.icon4 ul {
	width: 120px;
	margin: 0px 0 0 0;
	_margin: 0;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	height: auto;
	background: #f5f5f5;
	border: 1px #e8e8e8 solid;
	z-index: 99999;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
}
 @media screen and (max-width:640px) {

#cssmenu > ul > li > a {
	padding: 12px;
	font-size: 14px;
	text-decoration: none;
	color: #000;
	margin-top: 0.8em;
	font-family: 'Open Sans', sans-serif;
}
}
input.hidden {
	position: absolute;
	left: -9999px;
}
.tital {
	font-size: 14px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	color: #000;
}
.bot-border {
	margin: 20px 0 20px 0
}
#footer {
	background: #0d0d0d;
	margin-top: 2em;
	text-align: center;
	width: 100%;
	min-height: 35px;
	z-index: 999;
}
.footer p {
	font-size: 13px;
	color: #787878;
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
}

.display_rewards_table table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    font-weight: normal;
    width: 0%!important;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 13px;
}
#frgtp
{
	position: relative;
	top: -32px;
}
.profileedit
{
background: #28166f;
    border: none;

}